<div  class=" w-full flex flex-col justify-start gap-6 p-4">

    <button (click)="closePopup()" class="absolute top-4 z-2 right-4 bg-transparent text-gray-600 hover:text-red-500 text-2xl font-bold">
        <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>

    <span class=" w-[90%] sm:text-xl sm:mt-0 mt-[2rem] text-black">AD Connect IPTV-Technology Platform supporting Green Initiative with Virtual STB </span>
    
    <img class="w-[60%] h-auto" alt="" [src]="onetv">

    <h2 class=" w-[90%] text-xl text-orange-500">An environment with a difference</h2>

    <img class="w-[60%] h-auto" alt="" [src]="iptv">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <ul class="list pl-3">
        <li><i class="fas fa-check text-green-500 mr-2"></i>Providing Full features of IPTV as an Aggregator Platform and Cloud OS on devices </li>
        <li><i class="fas fa-check text-green-500 mr-2"></i>Integrated DOOH Platform & Monetization Support  </li>
        <li><i class="fas fa-check text-green-500 mr-2"></i><b>Supporting :</b></li> 
        <ul class="list-disc pl-6">
            <li>Device Any Make <span class="font-light">(**Please see Current versions availability)</span></li>
            <li>Any Where & Any Time</li>
            <li>In-built DRM</li>  
            <li>In-built C-TV Ad Monetization platform</li>       
            <li>Face-Connect collaboration Platform</li>       
            <li>Supporting Multiple devices for single User</li>       
            <li>Live Streaming Capability on demand in Premium version</li>       
            <li>CAS Integration as Per TRAI guidelines & compliances</li>       
        </ul> 
    </ul>
       

    <span class=" text-sm font-light w-full italic text-center">** Current versions available for Window OS, Android, IOS & LG</span>

    <h2 class=" w-[90%] text-xl text-orange-500">Industry Product line In-built as an Aggregator for Content Creators /Distributors, Channels/MSOs/LCOs and OTT Providers and for corporates</h2>

    <h3 class=" w-[90%] text-xl text-black underline">Product Line already Built-in</h3>

    <ul class="list pl-3">
        <li><i class="fas fa-check text-green-500 mr-2"></i>Live TV & Entertainment</li>
        <li><i class="fas fa-check text-green-500 mr-2"></i>Trainings & Skill Development (Virtual Classes)</li>
        <li><i class="fas fa-check text-green-500 mr-2"></i>Sports & Live Streaming</li>
        <li><i class="fas fa-check text-green-500 mr-2"></i>Gaming Platform</li>  
        <li><i class="fas fa-check text-green-500 mr-2"></i>Spiritual</li>  
        <li><i class="fas fa-check text-green-500 mr-2"></i>Lifestyle</li>  
    </ul>

    <h2 class=" w-[90%] text-xl text-orange-500">What are you waiting for?  Give a Buzz and our Product and Solution Consultant will reach out to you in no time </h2>

    <h2 class=" w-[90%] text-xl text-orange-500">Let's dive into what makes converged and connected World with </h2>

    <h2 class=" text-xl text-black w-full text-center">AD-Connect One TV One World</h2>

    <h2 class=" w-[90%] text-xl text-orange-500">And Partner with Us for your Content Distributions PAN Globe</h2>
