<div  class=" w-full flex flex-col justify-start  p-4">

    <button (click)="closePopup()" class="absolute top-4 z-2 right-4 bg-transparent text-gray-600 hover:text-red-500 text-2xl font-bold">
        <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
    </button>

    <!-- Header -->
    <header class="mb-6 text-xl font-semibold w-[80%]">
            <span>AD Connect DOOH & TV on Cloud for Smart TV OEMS and Manufacturers</span>
    </header>

    <img alt="tvottone" src="assets/tvottone.jpg" class=" w-[70%] h-auto">

    <span class=" lg:text-xl font-semibold text-orange-500 mt-6 text-left">What makes your Brand of Smart TVs stand high in today&apos;s digital market scenario?</span>

    <span class=" lg:text-lg mb-6 font-semibold text-orange-500 mt-6 text-left">The answer is your consumers should view your Brand of TV as a digital media & entertainment eco-system with a concept One TV One World …</span>

    <p class=" text-sm mt-6">We're here with a solution AD Connect DOOH and AD Connect TV On Cloud a smart TV eco-system In-built integrated platform </p>

    <span class=" font-semibold mb-6 mt-6">AD Connect in-built environment for B2B Sector </span>

    <p class=" text-sm mt-6">In-built AD Connect DOOH (Digital out of Home) for Advertising & AD Connect TV On Cloud Platform for Corporate in-house Meetings and trainings with supply side marketplace integration of smart screens giving business users an easy choice to register them and start their In-house digital Advertising /Signage journey /corporate Trainings to their remote teams with in-built subscription model. The Platform also offers to monetize the screens on our hybrid commercial business model.</p>

    <p class=" text-sm mt-6">Our in-built Platform provides a marketing edge to OEMS/manufacturers to pitch their lineage of Smart TV to a B2B consumers (Business entities /Enterprises /Business Chains /Large businesses /Retail Shops /Medicos/Hospitals /Clinics/Banks & Insurance companies /Government Sector.</p>

    <img alt="tvotttwo" src="assets/tvotttwo.jpg" class=" w-[70%] h-auto">

    <span class=" font-semibold mb-6 mt-6">AD Connect in-built environment for D2C Sector </span>

    <p class=" text-sm mt-6">Our in-built AD Connect TV on Cloud provide consumers an experience of viewing their TV contents on multiple devices -free on air /subscribed contents on any device any make at any time & anywhere with full control of his/her TV giving full control of UI/UX with many customization possibilities.</p>

    <span class=" font-semibold mt-6">The environment provides an eco-friendly environment with no extra burden </span>
    
    <div class="mt-6 w-full mb-6 text-orange-500">
        <ul class="space-y-1 list-disc pl-5">
            <li class="pl-2">No STB (Set-Top-Box)</li>
            <li class="pl-2">Cable Free Environment </li>
        </ul>
    </div>

    <p class=" text-sm mt-6">The User Registration is a very simple process and user start its TV on Cloud on a monthly subscription model.</p>

    <img alt="tvottthree" src="assets/tvottthree.jpg" class=" w-[70%] h-auto">

    <span class=" font-semibold mb-6 mt-6">SO OEMS & Manufacturers </span>
    
    <p class=" text-xl text-orange-500 font-semibold">Do not wait for long …  Give a Buzz and our B2B Consultants will reach out to you in no time </p>
    <p class=" text-xl text-orange-500 font-semibold">Let&apos;s dive into what makes it so beneficial to be competitive & user-friendly TVs and Screens in the market by providing complete eco-solution & new experience for Retail Sector, Corporates and D2C TV Users </p>

</div>