<div  class=" w-full flex flex-col justify-start gap-6 p-4">

    <button (click)="closePopup()" class="absolute top-4 z-2 right-4 bg-transparent text-gray-600 hover:text-red-500 text-2xl font-bold">
        <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>

    <span class=" w-[90%] sm:text-xl sm:mt-0 mt-[2rem] text-orange-500 underline">AD-Connect Software Licenses Delivery Policy </span>

    <span class=" text-sm">Our Platform AD-Connect One TV One World IPTV and DOOH Services works on a licensing framework which are allocated and activated with expiry dates for Smart User devices. The diagram below demonstrate how ad-connect centralized software licensing services enables our partners to distribute, monetize & govern digital rights compliances across all our services deployments</span>

    <img class="w-[60%] h-auto" alt="" [src]="image">

    <span class=" text-sm">Our distribution Partner buys user Multiple Smart devices Licenses and once our partner gives us the Order the AD-Connect licensing services platform create a specialized Partner specific licenses with special codifications for our partners to activate their users either in batches or individually for User Multiple screen Access of our IPTV or DOOH services This Uniqu license ensure compliances for in-built DRM and legitimate use of our Software on Multiple devices.</span>

    <span class=" underline font-semibold">The Licenses are Delivered instantly with Order Made along with Payments from our Licencing framework service </span>

    <span class=" text-sm">The effective date of licenses in execution is the day of activation of User license and will be valid for the Validity days Mentioned on the Licensed invoice for our partner </span>

    <span class=" text-sm">Our Licensing Policy of AD-connect grants a non-exclusive, non-sub-licensable and non-transferable license to install and use the software and Platform services during the applicable license terms under our User Agreement.</span>
