<div  class=" w-full flex flex-col justify-start gap-6 p-4">

    <button (click)="closePopup()" class="absolute top-4 z-2 right-4 bg-transparent text-gray-600 hover:text-red-500 text-2xl font-bold">
        <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>

    <div class="p-6 flex flex-col">
        <span class="sm:text-xl sm:mt-0 mt-[2rem] font-bold">Product License Pricing Structure</span>
        
        <h2 class="text-lg font-semibold text-yellow-600 mt-4">AD-Connect IPTV Video OTT – Subscription Based Model</h2>
        <div class="overflow-x-auto mt-2">
            <table class="w-full border-collapse border border-gray-300">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="border border-gray-300 px-4 py-2">IPTV LICENSING STRUCTURE</th>
                        <th class="border border-gray-300 px-4 py-2">PRICE for India Geo (INR)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border border-gray-300 px-4 py-2 font-semibold">Annual Subscription Price (Premium)</td>
                        <td class="border border-gray-300 px-4 py-2">264500.00 + GST</td>
                    </tr>
                    <tr>
                        <td class="border border-gray-300 px-4 py-2">IPTV SYSTEM Distribution License Per User Per Month</td>
                        <td class="border border-gray-300 px-4 py-2">51 + GST</td>
                    </tr>
                    <tr>
                        <td class="border border-gray-300 px-4 py-2">Storage + CDN (Per user Per Month)</td>
                        <td class="border border-gray-300 px-4 py-2">On Actual</td>
                    </tr>
                    <tr class="">
                        <td class="border text-red-600 font-semibold border-gray-300 px-4 py-2">Discount of 5% on Item 2 for Activations of</td>
                        <td class="border border-gray-300 px-4 py-2">10000 users with Order</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="text-sm italic mt-2">For Subscription of 5 Years Commitment - Talk to us for Preferred pricing</p>
        
        <h2 class="text-lg font-semibold text-yellow-600 mt-6">AD-Connect Face-Connect – Subscription Based Model</h2>
        <div class="overflow-x-auto mt-2">
            <table class="w-full border-collapse border border-gray-300">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="border border-gray-300 px-4 py-2">IPTV LICENSING STRUCTURE</th>
                        <th class="border border-gray-300 px-4 py-2">PRICE for India Geo (INR)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="border border-gray-300 px-4 py-2 font-semibold">Annual Subscription Price (Premium)</td>
                        <td class="border border-gray-300 px-4 py-2">60,000 + GST</td>
                    </tr>
                    <tr>
                        <td class="border border-gray-300 px-4 py-2">Face-Connect 10 H 1Mnth /User/Month Licensing</td>
                        <td class="border border-gray-300 px-4 py-2">425 + GST</td>
                    </tr>
                    <tr>
                        <td class="border border-gray-300 px-4 py-2">Recording Available</td>
                        <td class="border border-gray-300 px-4 py-2">On Actual</td>
                    </tr>
                    <tr class="">
                        <td class="border text-red-600 font-semibold border-gray-300 px-4 py-2">Discount of 5% on Item 2 for Activations of</td>
                        <td class="border border-gray-300 px-4 py-2">10000 users with Order</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="text-sm italic mt-2">For Subscription of 5 Years Commitment - Talk to us for Preferred pricing</p>
        
        <p class="text-lg font-semibold mt-6">For AD-Monetization - Talk to us</p>
    </div>