<div  class=" w-full flex flex-col justify-start gap-6 p-4">

    <button (click)="closePopup()" class="absolute top-4 z-2 right-4 bg-transparent text-gray-600 hover:text-red-500 text-2xl font-bold">
        <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>

    <span class=" w-[95%] sm:text-3xl sm:mt-0 mt-[2rem] font-semibold text-red-500 ">We Believe in <span class="text-green-500">Think Green Live Clean …</span></span>

    <span class=" font-semibold">With a Vision to Go Green with Technology </span>

    <span class=" text-sm">Plan to be a single point access provider bringing innovation and converged world for providing One TV One World. </span>

    <span class=" text-sm">Promoted by leading technocrats</span>

    <span class=" underline font-semibold">Contact Us</span>

    <span class=" text-blue-800">Registered Address </span>

    <span class=" ">All Day Digital <br>Plot No D-11A, Lajpat Nagar 2nd New Delhi 110024 INDIA</span>

    <span class=" text-blue-800">Development Centre & Marketing Office </span>

    <span class=" ">All DAY Digital<br>
        Plot No. 530 Udyog Vihar Phase 5 Gurugram 122016 (NCR)<br>
        <b>+91 8700693372</b><br>
        <span class="text-blue-500">Rajesh.h&#64;all-day.in</span> 
    </span>