<div  class=" w-full flex flex-col justify-start  p-4">

    <button (click)="closePopup()" class="absolute top-4 z-2 right-4 bg-transparent text-gray-600 hover:text-red-500 text-2xl font-bold">
        <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
    </button>

    <!-- Header -->
    <header class="mb-6 text-xl font-semibold w-[80%]">
            <span>AD Connect for Media OTT / Live Channels & Streamers</span>
    </header>

    <img alt="media" src="assets/medialivestream.jpg" class=" w-[70%] h-auto">

    <span class=" lg:text-xl font-semibold text-orange-500 mt-6 text-left">Get your Media Channels and OTT on CMS with Integrated Content marketplace and Ad Monetization Platform </span>

    <span class=" mb-6 font-semibold mt-6">AD Connect TV On Cloud in-built environment for Media Channels & OTT Providers </span>

    <p class=" text-sm ">In-built AD Connect CMS (Content Management System) for   Media Channels and OTT Providers with an Integrated environment for Content listing on Marketplace and Ad Monetization </p>

    <span class=" text-sm mt-6 font-semibold">AD Connect CMS & TV Player provides following Features  </span>

    <div class="mt-6 w-full text-orange-500">
        <ul class="space-y-1 list-disc pl-5">
            <li class="pl-2">Using Ad Connect Cloud server OR </li>
            <li class="pl-2">Existing /third-party Media Cloud server </li>
            <li class="pl-2">Content Categorization on </li>
            <ul class=" ml-3">
                <li>✔️ Types of Content</li>
                <li>✔️ Free on Air /Subscription based </li>
                <li>✔️ Premium Categorization as VOD (Videos on Demand)</li>
                <li>✔️ B2B and D2C Contents </li>
                <li>✔️ Main Media File or Promo Trailer Media file </li>
            </ul>
            <li class="pl-2">Supporting</li>
            <ul class=" ml-3">
                <li>✔️ Multi Language to play multi- Language based Media</li>
                <li>✔️ Sub-title Integration with media file</li>
                <li>✔️ Content based user feedbacks </li>
                <li>✔️ In-bult content listing on Marketplace for Marketers and demand side Ad Filling</li>
                <li>✔️ In-built user subscription based on Individual/combo package categorization on AD connect </li>
            </ul>
        </ul>
    </div>

    <span class=" text-sm mt-6 font-semibold">AD Connect Integrated CMS for Ad Monetization </span>
    
    <div class="mt-6 w-full mb-6 text-orange-500">
        <ul class="space-y-1 list-disc pl-5">
            <li class="pl-2">Ad Monetization based on Media Player Or</li>
            <li class="pl-2">Ad Monetization based on Content</li>
        </ul>
    </div>

    <p class=" text-sm mt-6">With Integrated Third Party /Integrated Demand Side Ad promos on breaks-based ad promos</p>

    <span class=" text-sm mb-6 mt-6 font-semibold">So Media Channels and OTT Providers </span>

    <p class=" text-xl text-orange-500 font-semibold">what are you waiting for??  …  Give a Buzz and our Media Channels B2B Consultants will reach out to you in no time </p>
    <p class=" text-xl text-orange-500 font-semibold">Let&apos;s dive into what makes it so beneficial to be competitive & user-friendly with integrated Ad monetization for the contents on single Integrated Platform </p>

</div>