<div class="w-full flex flex-col justify-start gap-6 p-4 relative">

    <!-- Close Button -->
    <button (click)="modalHide()"
        class="absolute top-4 right-4 bg-transparent text-gray-600 hover:text-red-500 text-2xl font-bold">
        <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>

    <!-- Title -->
    <span class="w-[90%] sm:text-xl sm:mt-0 mt-[2rem] text-orange-500 underline">
        Privacy Policy
    </span>

    <!-- Paragraphs -->
    <span class="text-sm">
        Use of the terms "we" and "us" in this Privacy Policy means Admediaworld an All Day Digital Brand having its
        principal place of business in New Delhi India, having duly organized under the law of India. We are a AdTech
        company that is focused on providing various services in a digital advertising market. We create and operate
        various digital technology platforms and render related services that connect buyers with sellers of advertising
        inventory.
    </span>

    <span class="text-sm">
        This Privacy Policy explains how information, including personal information, may be collected, used, and
        disclosed by AdMediaworld advertisement materials and/or inventory with respect to the following instances:
    </span>

    <ul class="list-disc pl-5 text-sm">
        <li>use of this website located at www.admediaworld (the "Website" or the "Site"), and</li>
        <li>how personal information is collected, used, and processed through our technology on behalf of the online
            advertisers, publishers, business partners, and other businesses that use Admediaworld advertisement
            materials and/or inventory or services (hereinafter referred to as "clients").</li>
    </ul>

    <span class="text-sm font-semibold">Our Services and Compliance with Law.</span>
    <span class="text-sm">
        Providing our services, we typically do not directly interact with the owners of personal information unless the
        owner of information is our client. Rather we process information (including personal information, if any),
        provided by our clients using various software and services, and not always our software in this regard.
        Therefore, we obligate our clients to comply with all applicable laws in all applicable jurisdictions, while
        obtaining information and to indemnify us of any claims arising from such non-compliance. We do not directly
        target any particular group of personal information owners and intend to act in compliance with the laws of our
        jurisdiction. We police our client's compliance with the laws of the jurisdiction where the information we
        process derives from to the extent it is technically possible and practicable. If you are our client, we collect
        information in accordance with our agreement and this Policy.
    </span>

    <span class="text-sm font-semibold">Information Our Clients and Vendors Collect.</span>
    <span class="text-sm">
        As stated herein, our clients, our contractors, and our clients' contractors may use our technology and operate
        it using tags, pixels, cookies, or other similar technologies for their business activities. We are not
        responsible for our clients, or our clients' contractor's manner of use of your personal information or any sort
        of tracking technologies.
    </span>

    <span class="text-sm font-semibold">Information We Collect, Process, or Store</span>
    <span class="text-sm">
        In the course of providing services to our clients we do not intentionally collect information that reveals your
        real-world identity, such as your name, address, phone number, or social security number. Our clients may use
        our services to process some sensitive information, which may come from our clients' websites and may be
        processed through our technology without our awareness or control of thereof. Rather we collect data about your
        computer or device using a number of technologies, the explanation to which you will find below. The information
        we collect is pseudonymous, generalized, and is not considered to be personal information in the majority of
        jurisdictions. In some other jurisdictions in which we provide services to our clients, in certain contexts,
        such information, including Internet Protocol (IP) addresses and other pseudonymous information, like certain
        unique device identifiers that may identify a particular computer or mobile device (for instance, in European
        Union) may be considered to be personal information.
    </span>

    <span class="text-sm">
        Please take notice, that we may work with third party data platforms or applications that may be directly
        integrated into our technology or used separately, supplementing our technology by us or our clients. It helps
        to deliver targeted advertisements using our advertising technology more efficiently or it allows our clients to
        use multiple interfaces and manage data more efficiently. Finally, our clients may use third-party data in
        combination with your user information to deliver targeted advertisement materials and/or inventory across
        multiple devices that may ultimately be processed by our technology without our knowledge thereof.
    </span>

    <span class="text-sm font-semibold">Information that we may process includes</span>
    <span class="text-sm">
        YOU SHOULD REVIEW THE PRIVACY POLICY AND TERMS OF USE FOR ANY SITE OR APPLICATION YOU VISIT OR INSTALL TO LEARN
        ABOUT WHAT INFORMATION THOSE SITES COLLECT FROM YOU, AND HOW THEY USE AND SHARE SUCH INFORMATION. THE
        INFORMATION IN THIS PRIVACY POLICY MAY NOT REFLECT WHAT AND HOW OUR CLIENTS OR WE COLLECT ON ANY INDIVIDUAL
        SITE.
    </span>

    <ul class="list-disc pl-5 text-sm">
        <li>Information about your behaviour on our client's resources, websites, and platforms: including information
            about the domain, your referring website addresses, date and time of your visits, page view data, search
            keywords, visitor activities and actions on publisher's sites, referring and exit pages, platform type,
            date/time stamp, geolocation (including city, country, zip code, and potentially geographic coordinates if
            you have enabled location services on your device), click data, types of advertisements viewed.</li>
        <li>Information about your browser: your browser type, languages, browser history etc.</li>
        <li>Information about your device: including information about your IP address, device make, device model,
            device operating system, device operating system version, and data connection type.</li>
        <li>Information about your Internet service: including information about which Internet Service Provider (ISP)
            you use.</li>
        <li>Information regarding your interactions with our clients, including your use of our clients' websites,
            software, and mobile applications, the websites and applications or other pages on the Internet or other
            resources our clients operate and control.</li>
        <li>Any additional data that is reasonably necessary to calculate a statistical ID in certain cases.</li>
        <li>Pseudonymous and generalized information collected by our clients or third parties that may include
            identifiers (similar to mobile advertising IDs and alike) and interest-based advertising data related to or
            connected with said identifiers.</li>
    </ul>

    <span class="text-sm font-semibold">How We Collect User Information</span>
    <span class="text-sm">
        We act on assumption that consumers prefer relevant ads, tailored in accordance with their interests. Therefore,
        we collect a variety of data using cookies and various other standards (typical for the industry) and unique (if
        our technology allows so) web technologies to collect information automatically from your device, including:
    </span>

    <span class="text-sm"><strong>Cookies.</strong> Cookies are a technology that is based on a small-size data files
        containing a string of alphanumeric characters that usually include a unique identifier and are placed on a
        visitor's device or computer. Cookies are usually stored at user's computer permanently (persistent cookies) or
        temporally. We use cookies on our clients' websites in order to operate our technology and collect user
        information and statistically analyse advertisement preferences.</span>

    <span class="text-sm"><strong>Tags and Pixels.</strong> Tags and Pixels are blocks of code that we and our clients
        may use to track your browsing on the Internet: from resources to any particular websites or applications to
        track your browsing behaviour. Sometimes web beacons are used for these purposes. They are usually transparent
        or invisible graphic images, no larger than 1x1 pixel, they are placed on a page or otherwise, Internet resource
        or sent within an e-mail to monitor the behaviour of the user visiting the resource or sending the e-mail. It is
        often used in combination with cookies. We create and use a unique synchronization system to check the quality
        of information that we have collected with information that our clients collected independently, and later help
        our clients or third parties that intend to provide you with targeted advertisements.</span>

    <span class="text-sm"><strong>Mobile Device Identifiers.</strong> Mobile Device Identifiers or Mobile Device IDs are
        unique identifiers which can be used to identify a mobile device. We may use standard device identifiers, to
        track your use of mobile applications and to determine if a piece of advertisement inventory has been delivered
        to a specific user or retargeted, or to determine the frequency of certain inventory for a certain user.
        Ultimately, passing device's ID back to advertisers helps us and our clients to improve the quality of
        advertising and its efficiency.</span>

    <span class="text-sm"><strong>Software Development Kits.</strong> These are blocks of code or algorithm similar to
        Tags and Pixels that are embedded into a digital resource that allows us to track certain information related to
        the application use, gathered during the process of utilizing our technology.</span>

    <span class="text-sm"><strong>Other technologies.</strong> Please be aware that we use other technologies, including
        locally stored objects, to collect user information in order to assist users with the inventory delivery and to
        provide reporting to our clients or to evaluate the quality of advertisement.</span>

    <span class="text-sm font-semibold">How We Use User Information</span>
    <span class="text-sm">
        The information that we collect about you, both personally identifiable information and non-personally
        identifiable information, may be used by us, or shared by us as set forth in this Privacy Policy or otherwise
        with your consent. If we or our affiliates are involved in a merger, acquisition, financing due diligence,
        reorganization, bankruptcy, receivership, sale or company assets, or transition of service to another provider,
        then any information may be sold or transferred as part of such a transaction as permitted by law and/or
        relevant agreement.
    </span>

    <span class="text-sm">
        We primarily use the user information we collect to enable our clients to find and purchase advertising space.
        In particular, our clients use two types of information in order to deliver end users a targeted advertisement
        material: our client's information and information that we provide in the course of our services delivery. Those
        two types of information are usually synchronized and mutually filtered and checked to identify what are the
        main interests of the user, and what targeted advertisement materials should be sent to him or her based on all
        the information that we stated as collected in this section.
    </span>

    <span class="text-sm">
        Additionally, we may use the information that we collect directly for our purposes: to create sophisticated
        advertising segments, to run analytics, including forecasting analytics of inventory, and to check the quality
        of advertisement or for any other and further research and development purposes acceptable as our legitimate
        business interests. Further, we constantly improve our algorithms targeting users with particular advertisement
        materials and/or inventory and measure the efficiency of advertisement materials. We use user information to
        improve our services and products that we provide to our clients, and to develop new products and services, to
        analyse the market, and generate performance reports. For said purposes we may share information with our
        clients, partners, and service providers, taken, however, that all the information sharing is done in aggregate
        without identifying particular users. Finally, we use user information to protect users, investigate security
        breaches, and to prevent all illegal activities within our systems.
    </span>

    <span class="text-sm font-semibold">Contact Us</span>
    <span class="text-sm">
        If you have questions, want to find out more about our privacy practices, or if you would like to make a
        complaint, please contact our Data Protection Officer by e-mail: <a href="mailto:rajesh.hh@all-day.in"
            class="text-blue-600 underline">rajesh.hh&#64;all-day.in</a>
    </span>

</div>