<div  class=" w-full flex flex-col justify-start gap-6 p-4">

    <button (click)="closePopup()" class="absolute top-4 z-2 right-4 bg-transparent text-gray-600 hover:text-red-500 text-2xl font-bold">
        <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>

    <span class=" w-[90%] sm:text-xl sm:mt-0 mt-[2rem] text-orange-500">Keep your Streaming and Ad Monetization Platform running at peak performance</span>

    <h2 class=" w-[90%] text-xl ">Provide Following Supports </h2>

    <h2 class=" w-[90%] text-lg text-orange-500 underline">Onboarding Support & Training</h2>

    <span class=" text-sm">While we provide hands on training for onboarding customers for using complete platform knowhow, we also provide train the trainer program so that our partners should develop in-house expertise to develop platform champions to sort setups and process flow issues and develop a competency for imparting in-house trainings to new inductions on our platform.</span>

    <span class=" text-sm">For our partners we co-ordinate BOTT (Build, Operate, Train & Transfer) Training methodology providing trainings and support while operations are in production with our system in lead</span>

    <img class="w-[60%] h-auto" alt="" [src]="image">

    <h2 class=" w-[90%] text-lg text-orange-500 underline">6 X 8 in-built Remote Subscription License Platform Support</h2>

    <span class=" text-sm">We have Five days and eight normal working hours remote Support already built in licensing policy starting the day we handover/Transfer   the Platform after stabilization period (of BOTT Support) to our partners and our Remote Telephonic /email and Online support Includes</span>

    <ul class=" list-disc pl-3">
        <li>Critical Platform bug Fixation (Average mean time to respond and Recover MTTRR- for System critical bugs are 8 working Hours). Please Refer our Support manual issued during on-boarding Training for Critical error References & Definitions</li>
        <li>Preventive Maintenance Support is in-built with planned System down time for system Optimization </li>
        <li>New Version Feature Support along with its tutorials are also included in this Support </li>
    </ul>

    <h2 class=" w-[90%] text-lg text-orange-500 underline">365 24X7 Premium Hybrid on-Demand support</h2>

    <img class="w-[60%] h-auto" alt="" [src]="image2">

    <span class=" text-lg font-semibold">Please Talk to us for On-Demand Premium Support coverage</span>

    <span class=" text-lg font-semibold">For support mail us on: <span class="text-blue-500 underline">Helpdesk&#64;ad-Connect.in</span></span>