<div  class=" w-full flex flex-col justify-start gap-6 p-4">

    <button (click)="closePopup()" class="absolute top-4 z-2 right-4 bg-transparent text-gray-600 hover:text-red-500 text-2xl font-bold">
        <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>

    <span class=" w-[90%] sm:text-xl text-orange-500 sm:mt-0 mt-[2rem] underline">AD-Connect Cancelation & Refund Policy </span>

    <span class=" text-sm">Thank you for choosing our software products and services. We strive to provide the best user experience and customer satisfaction. However, we understand that there may be situations where you need to cancel a purchase or request a refund. This Refund and Cancellation Policy outlines the guidelines and procedures for such cases.</span>

    <span class=" font-semibold">Cancellation Policy</span>
    
    <span class=" font-semibold text-sm">1.1. Subscription-Based Products/Services</span>

    <span class=" text-sm">For subscription-based products or services, you can cancel your subscription at any time. Upon cancellation, you will continue to have access to the product or service until the end of the current billing cycle. No further charges will be incurred. To cancel your subscription, please follow the instructions provided in your account settings or contact our customer support team officer whose contact is provided below.</span>

    <span class=" font-semibold text-sm">1.2. Perpetual License Products</span>

    <span class=" text-sm">Perpetual license products for AD-Connect Platforms are purchases which are System Generated, allocated and activated on your /Your user Devices with an expiration date. Cancellation and Refund is not applicable to perpetual license products as they are not tied to a subscription model due to the nature of the Product. </span>

    <span class=" text-sm">However, you may be eligible for a refund for Subscription -based products or services as described in Section 2.</span>

    <span class=" font-semibold">Refund Policy</span>
    
    <span class=" font-semibold text-sm">2.1. Eligibility for Refund</span>

    <span class=" text-sm">We offer a refund within a specified period for the following cases:</span>

    <ul class=" list-disc pl-3">
        <li><b>Technical Issues:</b> If you encounter significant technical issues or compatibility problems with our software that prevent its proper functioning and our support team is unable to resolve the problem within a reasonable time frame of 7 Days.</li>
        <li><b>Dissatisfaction:</b> If you are dissatisfied with our software’s features or performance and have communicated your concerns to our support team, providing constructive feedback.</li>
        <li><b>Unauthorized Charges:</b> If you notice unauthorized charges on your credit/debit card resulting from a purchase made on our website.</li>       
    </ul>

    <span class=" font-semibold text-sm">2.2. Refund Process</span>

    <span class=" text-sm">To request a refund, please follow these steps:</span>

    <ul class=" list-disc pl-3">
        <li><b>Contact Customer Support:</b> Submit a refund request to our customer support team, within 2 (Two) days of your Purchase and provided below providing relevant details about your purchase, such as order number, date of purchase, and reason for the refund.</li>
        <li><b>Evaluation:</b> Our support team will evaluate your request based on the eligibility criteria mentioned in Section 2.1.</li>
        <li><b>Refund Decision:</b> If your request meets the eligibility criteria, we will initiate the refund process within 7 business days. The refund will be issued using the original payment method. Please note that it may take additional time for the refund to appear on your account statement, depending on your financial institution.</li>   
        <li><b>Software Deactivation:</b> Upon refund approval, you will be required to uninstall and deactivate the software. Any further use or access to the software may result in legal consequences.</li>
    </ul>

    <span class=" font-semibold">Exclusions</span>

    <span class=" text-sm">The following situations are not eligible for refunds:</span>

    <ul class=" list-disc pl-3">
        <li><b>Change of Mind:</b> If you decide that you no longer want to use our software or services but it is functioning as intended and there are no technical issues.</li>
        <li><b>Third-Party Products/Services:</b> Refunds are not available for products or services provided by third-party vendors, even if they are sold through our platform. Please refer to their respective refund policies.</li>        
    </ul>

    <span class=" font-semibold">Policy Updates</span>

    <span class=" text-sm">This Refund and Cancellation Policy may be updated from time to time without prior notice. The most recent version will be posted on our website, and the changes will become effective upon posting.</span>
    <span class=" text-sm">Please note that this policy applies only to purchases made directly from our company. If you acquired our software through a third-party retailer or distributor, please refer to their respective refund and cancellation policies.</span>
    <span class=" text-sm">For any questions or concerns regarding this policy, please contact our customer support team officer whose contact is provided below.</span>
    <span class=" text-sm">Thank you for choosing our software products and services. We strive to provide the best user experience and customer satisfaction. However, we understand that there may be situations where you need to cancel a purchase or request a refund. This Refund and Cancellation Policy outlines the guidelines and procedures for such cases.</span>
    <span class=" text-sm">For any questions or concerns regarding this policy, please contact our customer support & Governance officer </span>

    <span class=" font-semibold">Customer Support Team & Corporate Governance Officer</span>

    <span class=" text-sm">Address your Mail to Garima Kapoor stating Subject <b>“Cancellation & Refund of an Order“</b></span>
    <span class=" text-sm">Reach us at <span class="text-blue-500">sales&#64;ad-Connect.in</span> </span>