<div class="w-full flex flex-col justify-start gap-6 p-4 relative">

    <!-- Close Button -->
    <button (click)="modalHide()"
        class="absolute top-4 right-4 bg-transparent text-gray-600 hover:text-red-500 text-2xl font-bold">
        <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>

    <!-- Title -->
    <span class="w-[90%] sm:text-xl sm:mt-0 mt-[2rem] text-orange-500 underline">
        Malls & Outdoor DOOH Services
    </span>

    <!-- Paragraphs -->
    <span class="text-sm">
        With digitization and technological evolution, there has been a sharp growth in DOOH (Digital-Out-of-Home, which
        refers to advertising used for commercial purposes, usually located in public places, which may involve screens
        and other digital and interactive tools).
    </span>

    <span class="text-sm">
        DOOH is ideal when brands want to reverse an impacting campaign in a short time or when they want to respond to
        breaking news. The possibility of spreading messages in real time is one of the main advantages of DOOH
        communication. With the introduction of new technologies, the use of digital billboards in different places
        became even more interesting. And so, DOOH communication emerged.
    </span>

    <span class="text-sm">
        Reaching specific market segments, enjoying the benefits of technology, marketing to a large number of people in
        a dynamic, flexible way and without contributing to visual pollution are some of the characteristics of DOOH
        campaigns.
    </span>

    <!-- Image -->
    <div>
        <img class="rounded-md w-[60%]" src="../../../../assets/ad-monetization/mo_img1.jpg" />
    </div>

    <span class="text-sm">
        This way, and due to the real-time nature of a DOOH campaign which we create, ads can be quickly adjusted in
        response to events, which saves time and money.
    </span>

</div>