<div class="w-full flex flex-col justify-start gap-6 p-4 relative">

  <!-- Close Button -->
  <button (click)="modalHide()" class="absolute top-4 right-4 bg-transparent text-gray-600 hover:text-red-500 text-2xl font-bold">
    <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>

  <!-- Title -->
  <span class="w-[90%] sm:text-xl sm:mt-0 mt-[2rem] text-orange-500 underline">
    Creating Ad Campaigns
  </span>

  <!-- Content -->
  <span class="text-sm">
    Hire us your Brand Awareness and Product launch Team and we will assist your business for Brand awareness, Product/services right fit audience penetration strategy along with profit creation...
  </span>

  <div>
    <img class="rounded-md w-[40%]" src="../../../../assets/ad-monetization/adc_img1.png" />
  </div>

  <span class="text-sm">
    Measurement of campaign effectiveness is done on data points with some of the industry metrics includes:
  </span>

  <ul class="list-disc pl-5 text-sm">
    <li>Click Thru rates</li>
    <li>Cost Per click</li>
    <li>Cost Per action</li>
    <li>Conversion rate</li>
    <li>Impression Share</li>
  </ul>

  <span class="text-sm">
    Under this service portfolio we run an ad campaign as a marketing strategy for your Business Products /Services to meet all or any of the business objectives:
  </span>

  <ul class="list-decimal pl-5 text-sm">
    <li>To Create Brand awareness of Product /Service</li>
    <li>To Drive Sales of Product/Service</li>
    <li>To Generate authentic Leads from various means and methods</li>
    <li>Product /Service Market Penetration</li>
  </ul>

  <span class="text-sm">
    We can Create an online/offline advertising campaigns on hybrid model for right fit audience
  </span>

  <span class="text-sm">
    Some of the online campaign methodology we run:
  </span>

  <ul class="list-disc pl-5 text-sm">
    <li>Google Ads Campaigns</li>
    <li>Facebook Advertising Campaigns</li>
    <li>Other Social Ad Campaign types like:
      <ul class="list-[circle] pl-6">
        <li>Twitter Ad Campaigns</li>
        <li>Instagram Ad Campaigns</li>
      </ul>
    </li>
    <li>LinkedIn Ad Campaigns</li>
  </ul>

  <span class="text-sm">
    Not only does this represent a truly gigantic potential audience for your ad campaigns, but it makes it possible to carve out and target very specific audiences with your ad campaigns. You can target your ads based on people's demographic, age, income level, interests, job title, political party, hobbies and much more.
  </span>

  <div>
    <img class=" rounded-md w-[60%]" src="../../../../assets/ad-monetization/adc_img2.jpg" />
  </div>
</div>
