<!-- AD Operation Modal -->
<div class="w-full flex flex-col justify-start gap-6 p-4 relative">

    <!-- Close Button -->
    <button type="button" (click)="modalHide()"
        class="absolute top-4 right-4 text-gray-600 hover:text-red-500 text-2xl font-bold">
        <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>

    <!-- Title -->
    <h4 class="text-orange-500 underline sm:text-xl mt-[2rem] sm:mt-0">AD Operation</h4>

    <!-- Body -->
    <div class="flex flex-col gap-4 text-sm text-gray-700">

        <p>
            We Manages Your ad Trafficking campaign optimizations, media planning and reporting to deliver results with
            an acute focus on quality and efficiency.
        </p>

        <p>
            Digital Ad Operations with Admediaworld (also known as ad operations, ad ops, online ad operations) denotes
            to the process that support the managing and delivering the advertisements through digital platforms. The
            Digital Ad Operations includes display (banner and rich media ads), video ads, text ads, search ads, mobile
            advertising and many more.
        </p>

        <p>
            Ad Operations is a team associated with our publishers Accounts to maximize their revenue by serving the
            relevant advertisements on their web pages /Mobile apps or OTT platforms. Ad Ops is responsible to set up
            and optimize the ad campaigns by following the various checks and policies. Also, Ad Ops usually interacts
            with the various platforms including ad exchanges, ad networks, ad servers, SSPs, DMPs, and more.
        </p>

        <p>
            The Ad Ops team needs to follow certain roles and responsibilities no matter they handle one advertiser and
            multiple advertisers on their day-to-day operations. A few major responsibilities listed here are:
        </p>

        <ul class="list-disc list-inside space-y-3 text-gray-700">
            <li>
                <b>Trafficking:</b> It involves uploading the creative assets provided by the advertiser in to the ad
                servers and update the necessary settings to ensure that the ad campaign will meet the advertiser goals.
                The Ad Ops team reviews the media plans/ insertion orders, check the inventory and upload the creative
                to the ad servers.
            </li>
            <li>
                <b>Scheduling:</b> Scheduling the campaigns are also plays a vital role in success of ad campaigns.
                Thus, Ad Ops team and advertiser will decide when to serve the ads to reach their targeted audience and
                settings will be updated accordingly. Scheduling the ads including the day when to serve and time to
                serve the ads acquire the desired audience during a specific time or date range.
            </li>
            <li>
                <b>Optimization:</b> Optimizing the ad campaigns is another crucial task to achieve the campaign goals
                during the campaign run dates. There are many factors influences the ad servers to publish the
                advertisements on a website which may impact the campaign goals. Due to this reason, Ad Ops team always
                review the performance of the ad campaigns and update the relevant settings to meet the agreed goals.
            </li>
            <li>
                <b>Troubleshoot ad serving issues:</b> Working with multiple advertisers/ agencies/ networks along with
                complexities of the requirements and creative assets provided may turns into technical issues. It may
                cause ads not serving, breaking your web pages, slowdown the web pages, forced ad redirects, dropping
                viewability, and other issues. However, Ad Ops team keeps checking these issues and fix them at the
                earliest to avoid any impact.
            </li>
            <li>
                <b>Managing the Reports:</b> Generating and analysing the ad campaign performance report from the first
                party and third-party ad services, and demand partners will be handled by the Ad Ops team. The ad
                campaign reports usually consist of discrepancies, impression level metrics, and attribution metrics.
            </li>
            <li>
                <b>Demand Management:</b> Most of the premium publishers have their own sales teams to manage their ads
                demand. However, these activities are automated and Ad Ops can check the available inventory using the
                ad servers and work with the sales teams to work on accordingly to optimally utilize the ad inventory.
            </li>
            <li>
                <b>Yield Management:</b> What Ad Ops team does, boils down to one thing - Revenue. The Ad Ops team/ team
                member taking care of yield management and look for various opportunities to maximizing the revenue
                through advertising to the publisher. For ex: working with the website development team to creating high
                performing ad slots on the webpages, increasing the user interactions through improved advertising
                experience, analysing the pricing for different ad slots and work with the finance team to finalizing
                the rate cards.
            </li>
        </ul>

        <p>
            These are glimpse of Ad Operations team does, however, there are multiple responsibilities that team handles
            which depends on the publisher requirements. The bottom line to have this team setup is to take care of ad
            serving activities to maximize the publisher's revenue.
        </p>

    </div>
</div>