    <div  class=" w-full  p-4">

        <button (click)="closePopup()" class="absolute top-4 z-2 right-4 bg-transparent text-gray-600 hover:text-red-500 text-2xl font-bold">
            <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
        </button>

        <!-- Header -->
        <header class="mb-6 text-xl font-semibold w-[80%]">
                <span>AD Connect DOOH for Brands & Marketers</span>
        </header>
    
        <!-- Content -->
        <div class="mb-3">
            <!-- Image -->
            <img class=" w-[70%] h-auto" src="assets/brandsAndMarketerspic1.jpg" alt="Retail Environment" />
    
            <!-- Text content -->
            <div class=" mt-6">
                <h2 class="text-orange-500 lg:text-2xl text-xl font-semibold">
                    It takes a lot to stand out in today’s retail environment!!!
                </h2>
    
                <p class="mt-4 lg:text-lg text-orange-500 font-semibold">
                    REACH YOUR AUDIENCE WHERE THEY SHOP
                </p>
    
                <p class="mt-2 text-sm font-semibold text-gray-600">
                    We're here with a solution AD Connect DOOH for Brands and Marketers who
                    can reach their audiences where they shop.
                </p>
    
                <div class="mt-6 ">
                    <div class="text-base  font-semibold text-gray-600">
                        The in-store audience has a buying power
                    </div>
    
                    <ul class="mt-2 space-y-2 text-gray-600">
                        <li>85% of Retail Sales occurs in brick-and-mortar stores</li>
                    </ul>
                </div>
    
                <p>
                    98% of Grocery shoppers influence household purchase decisions
                </p>
    
                <p>
                    AD Connect integrates high impacts Campaigns at key moment throughout the store bringing in-person experience using
                    Digital-Out-of-Home (DOOH) as a Form of Retail Media. With new e-commerce brands constantly entering and leaving the
                    marketplace and consumers distracted by concerns over inflation, retail brands need to dedicate serious effort to make
                    an impression and drive sales.
                </p>
    
                <p class="mt-4 text-gray-600">
                As humans, our brains are wired to respond to messages that directly relate to us—this is why personalization in
                advertising is so effective. A recent Zendesk study found that 76% of consumers expect personalized shopping experiences
                based on their interests and buying habits. At the same time, out-of-home media has been proven as one of the most
                effective ways to engage consumers in the physical world, influence awareness and entice people to visit a
                brick-and-mortar location.
                </p>
            </div>
        </div>
    
        <div class="min-h-screen ">
        
            <!-- Content -->
            <div class=" mt-3">
                <!-- Image Section -->
                <div class="flex flex-row gap-2">
                    <img class=" w-1/2 object-cover" src="assets/brandsAndMarketerspic2.jpg" alt="Retail Image 1" />
                    <img class="w-1/2 object-cover" src="assets/brandsAndMarketerspic3.jpg" alt="Retail Image 2" />
                </div>
    
                <header class="mb-6 mt-6">
                    <h2 class="text-3xl font-bold text-orange-500">
                        Real Life Advertising with the ease of online Buying
                    </h2>
                </header>
        
                <!-- Text Section -->
                <div class="">
                    <p class="text-lg p-2 text-gray-700 font-medium">
                        AD Connect DOOH Platform combines these two factors:
                    </p>
        
                    <!-- Bullet Points -->
                     <div class="p-2">
                        <div>✔️Personalization</div>
                        <div>✔️Real world media</div>
                     </div>
        
                    <p class="mt-4 text-gray-600">
                        To cut through the noise, inspire an audience and get them in the doors
                        by our BVA implementation methodology:
                    </p>
        
                    <!-- BVA Implementation Methodology -->
                    <ul class="list-disc font-semibold text-base pl-6 mt-2 text-orange-500">
                        <li>BUY</li>
                        <li>VALIDATE</li>
                        <li>ALLOCATE</li>
                    </ul>
        
                    <!-- Additional Info -->
                    <p class="mt-4 text-gray-600">
                        The combination of programmatic technology with DOOH media provides marketers with many opportunities to reach shoppers
                        near their point of purchase or point of choice between competing brands or products with tailored and engaging ads that
                        drives results. From Grocery Stores, Malls, shopping Centres to Gyms, universities campuses, Metro Stations, Cafes &
                        Restaurants, Spas, Airport terminals and Railway stations.
                    </p>
    
                    <p class="mt-4 text-gray-600">
                        The AD Connect Screens are everywhere and with advanced data driven targeting, retail brands can surround consumers with
                        relevant messaging at crucial moments in the shopping journey.
                    </p>
        
                    <!-- Reasons for DOOH -->
                    <div class=" mt-6">
                        <div class="text-xl font-semibold text-orange-500">
                            Here are a few reasons why DOOH is essential for retail media campaigns:
                        </div>
        
                        <ul class="list-disc mt-2 text-gray-600 pl-4">
                            <li>it adds an engaging in-person experience that can feature interesting creative, innovative technology, and other
                            integrations.</li>
                            <li>Similar to the advantages of a "digital shelf" on retailer websites, brands can communicate near the point of purchase
                            in-person to boost sales, increase market share, or encourage action.</li>
                            <li>Audiences will continue going out more and more as offline buying after pandemic has increased many folds so including
                            an in-person touch point will be valuable for advertisers.</li>
                            <li>Its flexibility allows brands to easily change content depending on the offers or messaging they're running in other
                            channels.</li>
                            <li> DOOH has made strides in providing analytics to advertisers which lets them see engagement, impressions, plays, views,
                            along with other metrics.</li>
                        </ul>
                    </div>
    
                    <div class="rounded-lg  mb-6 ">
                        <h2 class="text-2xl text-orange-500 font-semibold">What are you waiting for? Give a Buzz and our Retail Consultant will reach out to you in no time</h2>
                        <!-- <p class="mt-4 text-lg">Give a Buzz and our Retail Consultant will reach out to you in no time.</p> -->
                    
                        <h3 class="text-xl font-semibold text-orange-500 mt-6">Let's dive into what makes it so beneficial</h3>
                        <ul class="list-disc list-inside mt-4">
                            <li>Brands and advertisers are placed in the middle of the action.</li>
                            <li>You have access to Data and Marketplace.</li>
                            <li>With more data comes increased personalization.</li>
                            <li>Retail Media Inventories provide an additional revenue stream for retailers.</li>
                            <li>You can easily tie ad spends to sales.</li>
                        </ul>
                
                    </div>

                    <p class="mb-6 text-base font-semibold text-orange-500">Talk to us for DOOH campaigns in retail spaces, and we will demonstrate with data running highly
                        effective campaigns with our Ad Connect DOOH Platform for brands.</p>
    
                </div>
            </div>
        </div>
    
    </div>