<div  class=" w-full flex flex-col justify-start  p-4">

    <button (click)="closePopup()" class="absolute top-4 z-2 right-4 bg-transparent text-gray-600 hover:text-red-500 text-2xl font-bold">
        <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
    </button>

    <!-- Header -->
    <header class="mb-6 text-xl font-semibold w-[80%]">
            <span>AD Connect for TV and OTT Viewers</span>
    </header>

    <img alt="microchannel" src="assets/tvmanufactures.jpg" class=" w-[70%] h-auto">

    <span class=" lg:text-xl font-semibold text-orange-500 mt-10 text-left">Get Registered with AD Connect TV and download AD Connect client applications for different make of devices</span>

    <span class=" font-semibold mb-6 mt-6">AD Connect TV On Cloud - One TV One World</span>

    <p class=" text-sm mt-6"><span class=" font-semibold">AD Connect - One TV One World</span> give you the power to connect your TV and your content on multiple Devices so we call it have</p>

    <p class=" text-xl text-orange-500 font-semibold">DAAWAT With AD Connect TV on Cloud -with 3 Step Process</p>

    <span class=" text-sm mt-6 font-semibold">(Device Any Make - Any Where - Any Time)</span>

    <div class="mt-6 w-full text-orange-500">
        <ul class="space-y-1 list-disc pl-5">
            <li class="pl-2">Registration Process from Android/IOS Mobile App </li>
            <li class="pl-2">Add already existing OTT/Paid Subscriptions or Get new Subscription online from TV App</li>
            <li class="pl-2">Download AD Connect Client Application on Devices  </li>
            <ul class=" ml-3">
                <li>✔️ Android /Google Smart TV/Tablets </li>
                <li>✔️ Apple TV</li>
                <li>✔️ Windows Desktops/laptops </li>
                <li>✔️ LG Smart TV</li>
                <li>✔️ Samsung Smart TV </li>
                <li>✔️ Any other Smart TV supporting Web browser</li>
            </ul>
        </ul>
    </div>

    <p class=" text-sm pt-6">You can View Your TV with single Profile on multiple Devices at the same time so if you are away from home …. than your family will be viewing TV/Subscribed OTT at your Home and You can use your Laptop /Your Mobile Device or Any big screen on Internet and view your TV or OTT sitting Remotely</p>

    <p class=" text-sm pt-6">With One User Subscription You Can View your TV and OTT Channels on <span class=" font-semibold">Multiple Screens so now</span> ….</p>

    <div class="mt-6 w-full text-orange-500">
        <ul class="space-y-1 list-disc pl-5">
            <li class="pl-2">You can watch your Cricket Match on One TV Screen</li>
            <li class="pl-2">Your wife can watch her favourite TV Serial or / Series on OTT on another Installed big screen and your… </li>
            <li class="pl-2">Child can watch his/her favourite Kids channel on Desktop or Laptop </li>
        </ul>
    </div>

    <p class=" text-sm mt-6">With one Registered user profile and that too simultaneously at same time </p>

    <span class=" text-sm mt-6 font-semibold">Some unique Features available on AD Connect TV on Cloud </span>

    <div class="mt-6 w-full text-orange-500">
        <ul class="space-y-1 list-disc pl-5">
            <li class="pl-2">User profile set up control </li>
            <li class="pl-2">Content privacy and viewership setup </li>
            <li class="pl-2">Online and Offline screen/TV linkages & approval workflows  </li>
            <li class="pl-2">Content listing priorities setups </li>
            <li class="pl-2">Integrated OTT/Paid channels on marketplace so that user can directly buy single /Combo Packages</li>
            <li class="pl-2">Eco-friendly platform with no extra linkages with any STB (Set-Top-Box)</li>
            <li class="pl-2">No extra wired Platform</li>
        </ul>
    </div>

    <span class=" text-sm mt-6 font-semibold">So, TV and OTT Viewers</span>

    <span class=" lg:text-xl font-semibold text-orange-500 mt-6 text-left">what are you waiting for??  …  Give a Buzz or write to us on support and get your 3 months subscriptions Free of cost** as Introductory year offer.</span>

    <span class=" lg:text-xl font-semibold mb-6 text-orange-500 mt-6 text-left">Let&apos;s dive into what makes it to a user-friendly, new and innovative experience of TV /OTT Viewing and have DAAWAT with us</span>

    <p class="text-xs"> ** Offer is valid for AD Connect Platform and on content only for Free on Air Channels</p>

</div>