<div class="w-full flex flex-col justify-start gap-6 p-4 relative">

    <!-- Close Button -->
    <button (click)="modalHide()"
        class="absolute top-4 right-4 bg-transparent text-gray-600 hover:text-red-500 text-2xl font-bold">
        <svg class="w-7 h-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>

    <!-- Title -->
    <span class="w-[90%] sm:text-xl sm:mt-0 mt-[2rem] text-orange-500 underline">
        DSP Platform for Advertisers
    </span>

    <!-- Subtitle -->
    <span class="text-lg font-semibold">
        Amplify Your Brand Potential
    </span>

    <!-- Image 1 -->
    <div>
        <img class="rounded-md w-[40%]" src="../../../../assets/ad-monetization/dsp_img1.jpg" />
    </div>

    <!-- Paragraphs -->
    <span class="text-sm">
        Unleash the power of programmatic advertisements and revolutionize your ad campaigns with our cutting-edge
        Demand side Platform (DSP) that allows advertisers and media buying agencies to bid automatically on Display,
        Video, Mobile and search ad inventories from a wide range of Publishers available at our Supply side platform.
        Our DSP Platform can automate the decision-making process on how much to bid for an ad in real time. DSP make
        the ad-buying process significantly faster, cheaper and more efficient.
    </span>

    <span class="text-sm">
        The key feature of our demand-side platforms is that instead of buying inventory on publishers, what you buy is
        the ability to reach specific audience segments based on the DSP targeting capabilities, across a range of
        publisher sites.
    </span>

    <!-- Image 2 -->
    <div>
        <img class="rounded-md w-[60%]" src="../../../../assets/ad-monetization/dsp_img2.jpg" />
    </div>

</div>