/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100..900&display=swap'); */


@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  color:rgb(73, 92, 111)
}

.layOutForm {
    width: max-width-max-content;
}

.custom-input {
    background-color: #F1F5F8; /* bg-slate-100 */
    border-width: 1px; /* border */
     /* border */
    border-color: #A0AEC0; /* border-gray-300 */
    color: black; /* text-gray-900 */
    font-size: 0.8rem; /* text-sm */
    border-radius: 0.375rem; /* rounded-lg */
    outline: 2px solid transparent; /* focus:ring-blue-500 */
    outline-offset: 2px; /* focus:ring-blue-500 */
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; /* focus:ring-blue-500 */
    transition-duration: 150ms; /* focus:ring-blue-500 */
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); /* focus:ring-blue-500 */
    transition-property: border-color, background-color, color; /* focus:border-blue-500 */
    transition-duration: 75ms; /* focus:border-blue-500 */
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); /* focus:border-blue-500 */
    display: block; /* block */
    width: 100%;
     /* w-full */
    padding: 0.3rem; 
}

.custom-input:focus {
    border-width: 1px; /* focus:border-blue-500 */
    border-color: #4299E1; /* focus:border-blue-500 */
     /* focus:ring-blue-500 */
}

.custom-input2 {
    background-color: white; /* bg-slate-100 */
    border-width: 1px; /* border */
     /* border */
    border-color: #A0AEC0; /* border-gray-300 */
    color: black; /* text-gray-900 */
    font-size: 0.8rem; /* text-sm */
    border-radius: 0.375rem; /* rounded-lg */
    outline: 2px solid transparent; /* focus:ring-blue-500 */
    outline-offset: 2px; /* focus:ring-blue-500 */
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; /* focus:ring-blue-500 */
    transition-duration: 150ms; /* focus:ring-blue-500 */
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); /* focus:ring-blue-500 */
    transition-property: border-color, background-color, color; /* focus:border-blue-500 */
    transition-duration: 75ms; /* focus:border-blue-500 */
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); /* focus:border-blue-500 */
    display: block; /* block */
    width: 100%; /* w-full */
    padding: 0.3rem; 
}

.custom-input:focus {
    border-width: 1px; /* focus:border-blue-500 */
    border-color: #4299E1; /* focus:border-blue-500 */
     /* focus:ring-blue-500 */
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #808080;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #CE5C67;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}


.video-js:lang(en) .vjs-subs-caps-button .vjs-icon-placeholder {
  /* styles */
  background-color: white;
}
