<div class="w-full flex flex-col justify-start p-4">
    <button
      (click)="closePopup()"
      class="absolute top-4 z-2 right-4 bg-transparent text-gray-600 hover:text-red-500 text-2xl font-bold"
    >
      <svg
        class="w-7 h-7"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18L18 6M6 6l12 12"
        ></path>
      </svg>
    </button>
  
    <!-- Header -->
    <header class="mb-6 text-xl font-semibold w-[90%]">
      <span
        >AD Connect for businesses and commercial content creators as Micro
        Channels</span
      >
    </header>
  
    <img
      alt="microchannel"
      src="assets/microchannels.jpg"
      class="w-[70%] h-auto"
    />
  
    <span
      class="lg:text-xl font-semibold text-orange-500 mt-6 text-left"
      >Get your Micro-Channels on CMS with Integrated Content marketplace and Ad
      Monetization Platform</span
    >
  
    <span class="font-semibold mb-6 mt-6"
      >AD Connect TV On Cloud in-built environment for Business Channels & D2C
      Content Distributors</span
    >
  
    <p class="text-sm mt-6">
        In-built AD Connect CMS (Content Management System) for   B2B micro-channels and for D2C micro-Channels with an Integrated environment for Content listing on Marketplace and Ad Monetization 
    </p>
  
    <p class="text-sm mt-6">
        Video OTT is no longer a vertical medium confined to the media and entertainment domain. It is now a horizontal technology that can be integrated into various industries like - Education, Health care and Retail amongst others.
    </p>

    <span class="font-semibold mb-6 mt-6"
    >A new Format of the familiar – TV Home shopping re-invented </span>
  
    <p class="text-sm mt-6">
        The TV Channels, as we know it had a slew of video channels show-casting products However, the call to action to close the purchase loop was left to consumers calling up a number as there was no easy way to complete the purchase on the TV channel. 
    </p>
  
    <p class="text-sm mt-6">
        The OTT technology in retail enables the best of both the worlds: the engagement of TV and the interactivity to explore options, make desired selections at own convenience and importantly place orders and make the payments
    </p>

    <span class="font-semibold mb-6 mt-6"
    >Bring alive both the product and in-store experience (Video OTT for Brand promotion and Advertisement)</span>
  
    <p class="text-sm mt-6">
        We have all experienced the gorgeous presentations of products in categories such as food, consumer goods, luxury, etc on the TV channels, evoking an emotion – a desire. Video OTT adds a dimension of interactivity and convenience to this.
    </p>

    <p class="text-sm mt-6">
      Combined with AR/VR, it gives organizations the tool to bring the in-store
      experience to the digital channel rather than being merely a catalogue of
      static images.
    </p>

    <p class="text-sm mt-6">
        SO brands in the retail domain across categories has a potential of generating huge uptick in revenue using the OTT channel.
    </p>
  
    <span class="text-sm mt-6 font-semibold"
      >AD Connect CMS & TV Player provides following Features</span>
  
    <div class="mt-6 w-full text-orange-500">
      <ul class="space-y-1 list-disc pl-5">
        <li class="pl-2">Using Ad Connect Cloud server OR</li>
        <li class="pl-2">Existing /third-party Media Cloud server</li>
        <li class="pl-2">Content Categorization on</li>
        <ul class="ml-3">
          <li>✔️ Types of Content</li>
          <li>✔️ Subscription based</li>
          <li>✔️ Premium Categorization as COD (Content on Demands)</li>
          <li>✔️ B2B and D2C Contents</li>
          <li>✔️ Main Media File or Promo Trailer Media file </li>
        </ul>
        <li class="pl-2">Supporting</li>
        <ul class="ml-3">
          <li>✔️ Multi Language to play multi- Language based Media</li>
          <li>✔️ Sub-title Integration with media file</li>
          <li>✔️ Content based user feedbacks and Comments</li>
          <li
            >✔️ In-bult content listing on Marketplace for Marketers and demand
            side Ad Filling</li
          >
        </ul>
      </ul>
    </div>
  
    <span class="text-sm mt-6 font-semibold"
      >AD Connect Integrated CMS for Ad Monetization</span
    >
  
    <div class="mt-6 w-full mb-6 text-orange-500">
      <ul class="space-y-1 list-disc pl-5">
        <li class="pl-2">Ad Monetization based on Media Player Or</li>
        <li class="pl-2">Ad Monetization based on Content</li>
      </ul>
    </div>
  
    <p class="text-sm mt-6">
      With Integrated Third Party /Integrated Demand Side Ad promos on breaks-based
      ad promos
    </p>
  
    <span class="text-sm mt-6 mb-6 font-semibold"
      >AD Connect for Corporate Trainings</span
    >
  
    <p class="text-sm mt-6">
      Online video training platforms offer multiple benefits, including:
    </p>
    <ul class="text-sm mt-6 mb-6 list-disc pl-5">
      <li><b>Engaging and Effective Learning: </b>Humans are faster visual learners. Video training platforms combine audio, visuals, and sometimes even interactivity to create an engaging learning experience. This can lead to better information retention and understanding compared to text-based formats.</li>
      <li><b>Accessibility and Flexibility: </b>Video training platforms offer learners the flexibility to access content anytime, anywhere, and at their own pace and you have incredible flexibility. This makes it ideal for busy individuals and those with diverse learning styles.</li>
      <li><b>Scalability and Cost-Effectiveness: </b>Training platforms can cater to a large number of learners across different locations and time zones, at a single time. Hence, they are efficient and cost-effective for professional training delivered by organizations, compared to in-person training.</li>
      <li><b>Micro-learning and Skill Development: </b>Online videos can be broken down into short, digestible chunks. Hence, they are perfect for microlearning and focusing on specific skills needed for the job.</li>
      <li><b>Demonstrations and Simulations: </b>Complex procedures, technical skills, or even soft skills like communication can be effectively demonstrated and practiced through video simulations.</li>
      <li><b>Varied Content Formats: </b>Online training platforms offer a variety of content formats, including animations, expert interviews, screen recordings, and interactive quizzes, catering to different learning preferences.</li>
    </ul>
  
    <p class="text-xl text-orange-500 font-semibold">
      what are you waiting for?? … Give a Buzz and our Media Channels B2B
      Micro-channel Consultants will reach out to you in no time
    </p>

    <p class="text-xl text-orange-500 font-semibold mt-6">
        Let&apos;s dive into what makes it so beneficial to be competitive & user-friendly with integrated Ad monetization for the contents on single Integrated Platform  
      </p>
  </div>
  